Welcome to photomanager
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'photomanager/style.css' %}"/>

<form action="/img/scan" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Scan"/>
</form>

<form action="/img/upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ upload_form }}
    <input type="submit" value="Upload"/>
</form>

{% if img_list %}
    {#<ul>#}
    {#    {% for img in img_list %}#}
    {#        <li>#}
    {#            <a href="/{{ img.id }}">{{ img.file_name }}</a>#}
    {#            <img src="{% url 'img' img.id %}">#}
    {#        </li>#}
    {#    {% endfor %}#}
    {#</ul>#}

    {% for img in img_list %}
        {#            <a href="/{{ img.id }}">{{ img.file_name }}</a>#}
        <img src="{% url 'img' img.id %}">
    {% endfor %}
{% else %}
    <p> No image </p>
{% endif %}